     /*блочная модель*/
* {
    box-sizing: border-box;
}

/*________________________ */
/*_____ тело страници_____ */
/*________________________ */

body {
    /*внешнии отступы*/
    margin: 0; 
         /*минимальная высота области осмотра*/
    min-height: 100vh;
         /*делаем флекс контейнер*/
    display: flex;
         /*выравниваем этот контейнер по центру главной и поперечной оси*/
     justify-content: center;
     align-items: center;
}

/*________________________ */
/*_кнопки и тело калькуля_ */
/*________________________ */


.calc {
         /*ширина*/
    width: 600px;
         /*видимая граница*/
    border: solid 2px #555;
         /*радиус*/
    border-radius: 10px;
         /*фоновая заливка*/
    background-color: #888;
        /*внутреннии поля*/
    padding: 20px;
         /*тип отображения блока*/
    display: grid;
         /*шаблон для колонок, repeat 4, 1fr четыре колонки одинаковой ширины*/
          /*Разобраться подробнее в grid (расположение объектов) */
    grid-template-columns: repeat(4, 1fr);
         /*свойство для задания размера всех рядов по умолчанию */
    grid-auto-rows: 80px;
         /*отступы между элементами */
    gap: 20px;
}

/*________________________ */
/*_блок вывода результата_ */
/*________________________ */

.calc__result {
         /* растягиваем на всю ширину контейнера, от первой до последней линии */
    grid-column: 1 / -1;
          /*фоновая заливка */
    background-color: #333;
          /*цвет текста */
    color: #fff;
         /*размер шрифта */
    font-size: 56px;
          /*отступы в области результат */
    padding: 10px;
}

/*________________________ */
/*__клавиши калькулятора__ */
/*________________________ */

.calc__btn {
         /*убераем с кнопок обводку */
    border: none;
         /*добавляем радиус на углы кнопок */
    border-radius: 20px;
         /*цвет заливки кнопок */
    background-color: #eee;
         /*изменяем тип курсора при наводке на кнопку */
    cursor: pointer;
         /*размер шрифта кнопок */   
    font-size: 30px; 
         /*тень для выпуклости кнопок */  
    box-shadow: 2px 3px 2px rgb(40, 50, 60, 80);
}

/*_______________________________________ */
/*__поведение кнопок при наведении мыши__ */
/*_______________________________________ */

.calc__btn:hover {
        /*небольшая прозрачность */
    opacity: 0,9;
}

/*_______________________________________ */
/*______поведение кнопок при нажатии_____ */
/*_______________________________________ */

.calc__btn:active {
    /*видимость вдавленной кнопки */
    box-shadow: 1px 1px 2px rgb(40, 50, 60, 80);
}

/*_______________________________________ */
/*_________оформление оператора__________ */
/*_______________________________________ */

.calc__btn_operator {
        /*фон кнопок операторов +-/* */ 
    background-color: rgb(218, 255, 97);   
}

/*_______________________________________ */
/*_______оформление кнопки сброс_________ */
/*_______________________________________ */

.calc__btn_reset {
    /*фон кнопки сброс С */
background-color: rgb(255, 97, 97);  
    /*цвет текста */ 
color: #fff;
}

/*_______________________________________ */
/*_______оформление кнопки равно_________ */
/*_______________________________________ */

.calc__btn_equal {
     /*фон кнопки = */
    background-color: rgb(97, 179, 255);  
    /*цвет текста */ 
    color: #fff;
    /*растягивание кнопки до края сетки */
    grid-column: 2 / -1;
}